<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Botones</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="goBack()">Regresar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block">Buscar</ion-button>
  <ion-button expand="full">Mensaje</ion-button>
  <ion-button>Default</ion-button>
  <ion-button fill="clear">Configuracion</ion-button>
  <ion-button fill="outline">Modo avión</ion-button>
  <ion-button fill="solid">Bloquear</ion-button>

</ion-content>

